body{
    background-color: brown;
    color: white;
}
h1{
    color: aqua;
    font-style: italic; 
    text-align: center;
}
.secondDiv{
    background-color: chartreuse;
    /* align-items: center;  */
    justify-content: center;
   display: flex;
}
.firstbutton{
    margin: 10px;
    cursor: pointer;
    border: 5px dashed brown ;
}
/* button:hover{
    background-color: black;
    color: aliceblue; 
} */
.subButjs{
    background-color: grey;
    color: black;
    margin : 30px;
    padding: 5px 10px;
    font-style: italic;
    border-radius: 20px;
}
.subBut{
    margin : 30px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-style: italic;
    border-radius: 20px;
    

}

